{
  "plugins": [
    "transform-class-properties", 
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
